<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>web技術入門課題</title>
  </head>
 
  <body style="background:mediumseagreen" >
    <h1 style = "color:white">No Goya No Life</h1>
    <hr><br>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select weight, length from crops where give_for != '自家消費' ;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　長さ：#{record["length"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       ボタンを押すと出荷した（自家消費でない）ゴーヤの重さと長さが表示されます！<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
      <br>
    <% result = connection.exec("select weight, give_for from crops where quality = false ;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       ボタンを押すと、品質の悪いゴーヤの情報が出力されます……。<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>